.logo {
  display: inline-flex;
  align-items: center;
}

.logo:hover {
  text-decoration: none;
}

.image {
  display: block;
  height: 4.25rem;
  width: auto;
}

@media (max-width: 720px) {
  .image {
    height: 2.5rem;
  }
}
